<body>
	
	<div class="home-html">

	<section class="section1">
		<img id="bgimg" src="<%= asset_path 'chef_dog.jpg' %>">
	    <div class="clip-text fadeMe">Picky Husky</div>
	  	<div class="intro fadeMe">
			<h2> Food you enjoy, every time.</h2>
		  <% if user_signed_in? %>
        <%= link_to "SEND ME AN SMS NOW!", {controller: :twilio, action: :send_sms}, {class: 'btn fadeMe btn-primary btn-lg', method: :post} %>
      <% else %>
      	<%= link_to new_user_registration_path, class: 'btn fadeMe btn-primary btn-lg' do %>
        	SIGN UP NOW! <i class="fa fa-pencil"></i>
      	<% end %>
      <% end %>
		</div>
	</section>

	<section class="section2">
		<h1> Be Picky </h1>
		<p id="about">Get notified when your favorite foods are being prepared</p>  
	</section>


	<section class="section3">
		
	</section>

	</div>

</body>