<!-- <p>
  Lol just go <a href="http://www.nudining.com/international-village">here</a>
<img src='asset/img/dog.jpg'>
</p> -->

<style>
	body {
	background-image: url(<%= asset_path 'dog.jpg' %>)
}
</style>
<div class="home">
<h2>Picky Husky</h2>
<p>
  Lol just go <a href="http://www.nudining.com/international-village">here</a>
</p>
</div>
