@font-face {
	font-family: shabby;
	src: url('http://lineless.github.io/res/fonts/Anothershabby_trial.ttf');
}


@font-face {
	font-family: champagne;
	src: url('http://lineless.github.io./res/fonts/Champagne&Limousines.ttf');
}

#bgimg { 
  position: fixed;
  top: 20%;
  left: 50%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-20%);
  -moz-transform: translateX(-50%) translateY(-20%);
  -webkit-transform: translateX(-50%) translateY(-20%);
  transform: translateX(-50%) translateY(-20%);
  background-size: cover; 
}

.section1 {
	background-attachment: fixed;
	background-size: cover;
	opacity:1;
	/*height: 100%;*/
	padding-bottom: 20px;
    text-align: center;
}

.section1 h2 {
	color: white;
    text-shadow: 2px 2px #000000;
    padding-bottom: 40px;
}

.clip-text {
  font-family: shabby;
  font-size: 12vw;
  color: white;
  padding-top: 20px;
  opacity:0.9;
  text-shadow: 2px 2px #000000;
}

.section2 {
	background-image: url(http://www.snazzyspace.com/wallpapers/8B0000_darkred.png);
	background-attachment: fixed;
	padding-top:20px;
	opacity:1;
	height: 100%;
	text-align:center;
}

section h1 {
	font-family: "champagne";
	font-size: 80px;
	text-align: center;
	font-weight:bold;
	/*margin-left:20px;*/
	color: white;
}

section p {
	font-size: 25px;
	font-family: "champagne";
	text-align: center;
	padding-bottom: 40px;
	color: white;
}

section {
	background-attachment: fixed;
	opacity:1;
	background-size:cover;
}

.section3 {
	background-image: url('iv_serving.jpg');
}

.section4 {
	margin-top: -20px;
	background-color: black;
}

.section4 {
	background-attachment: fixed;
	padding-top:20px;
	opacity:1;
	height: 100%;
	text-align:center;
}

.section6 {
	margin-top: -20px;
	background-color: #615445;
}

.section6 {
	background-attachment: fixed;
	padding-top:20px;
	opacity:1;
	height: 100%;
	text-align:center;
}

.section5 {
	background-image: url('lobster.jpg');
}

.section7 {
	background-image: url('iv.jpg');
}

h2 {
	color: white;
	font-family: "champagne", sans-serif;
	font-weight:bold;
}

#about {
	font-size: 25px;
	color:white;
	padding-left: 100px;
	padding-right:100px;
}

.intro .btn-primary:hover {
  background-color: #615445;
}

.alert {
  background-color: #990000;
  opacity:0.5;
  color: white;
  font-size: 20px;
}