* {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#content {
  margin-top: 100px;
  font-family: "Cambria", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  color: #CC2B2B;
}

.navbar-inner li {
  line-height: 40px;
  letter-spacing: 2px;
}

.nav-link {
  border-top: 4px solid white;
  color: black;
  font-weight: 100;
  transition: border-top .3s;
}
.nav-link:hover {
  border-top: 4px solid #CC2B2B;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: none;
  background-color: #CC2B2B;
}

.brand {
  letter-spacing: 4px;
  color: black;
  border-top: 0px solid #CC2B2B;
  font-weight: bold;
  transition: border-top .3s;
}
.brand:hover {
  border-top: 4px solid #CC2B2B;
}
.brand:hover {
  border-top: 4px solid #CC2B2B;
}

.header {
  background-color: rgba(255, 255, 255, 0.95);
  /* remove the gradient */
  background-image: none !important;
  border-bottom: 2px solid #CC2B2B !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0, 0, 0, 0.2) !important;
}


